{% extends "base.html" %}

{% block content %}
    {% if object_list.count == 0 %}
        <h3>There is no StatesOrder-Entry right now.</h3>

    {% else %}
    {% for instance in object_list %}
        <p>{{ instance.id }} - {{ instance.state }}</p>
    {% endfor %}
    {% endif %}
{% endblock %}
