{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">

<br>
    <h1 class="title">Questions and answers </h1>
<br>
    <h3 class="title">How can I buy an article?</h3>
    <p class="lead">If you want to buy an article you have to click on the new order button in the navigation bar. There you can complete the formular and insert the link to your article. The secretary can see your order now. </p>
<br>
    <h3 class="title">How can I see that my ordered article is ready for picking up? </h3>
    <p class="lead">The secretary will change the status of your ordered article in your cart into delivered.  Now you can pick it up at the secretary station. You can also find the article in the Inventory. </p>
<br>
    <h3 class="title">What should I do if I have finished my project and don't need the article anymore?</h3>
    <p class="lead">On this website you are responsible for the article you ordered. You can change the state if you have finished with the project. Other users can see the owner of the article and if they want to use it they can contact you. </p>
<br>

{% endblock %}