{% extends "base.html" %}

{% block content %}
    <table border="1">
        <th>ID</th>
        <th>Amount</th>
        <th>Delivery-Date</th>
        <th>Creation-Date</th>
        <th>Owner</th>
        <th>State</th>
        <th>Article</th>
        <th>Category</th>
        <th>Shop</th>
        <th>Url</th>

         {% for instance in queryset %}
            <tr>
            <td> {{ instance.amount }}</td>
            <td> {{ instance.delivery_date }} </td>
            <td> {{ instance.creation_date }}</td>
            <td> {{ instance.owner_id.username }}</td>
            <td> {{ instance.state_id.state }} </td>
            <td> {{ instance.url_id.article_id.name }} </td>
            <td> {{ instance.url_id.article_id.category_id.name }} </td>
            <td> {{ instance.url_id.shop }}</td>
            <td> {{ instance.url_id.url }}</td>
            </tr>
        {% endfor %}
{% endblock %}