{% extends "base.html" %}

{% block content %}
    <h1>This is the detail View of StatesOrder</h1>

    <p> {{ object.id }}</p>
    <p> {{ object.username }}</p>
    <p> {{ object.password }}</p>
    <p> {{ object.last_name }}</p>
    <p> {{ object.first_name }}</p>
    <p> {{ object.is_superuser }}</p>
    <p> {{ object.is_secretary }}</p>
    <p> {{ object.email }} </p>
    <p> {{ object.tel }}</p>
{% endblock %}
