{% extends "base.html" %}

{% block content %}
    {% if object_list.count == 0 %}
        <h3>There is no User-Entry right now.</h3>

    {% else %}
    <table border="1">
        <th>Username</th>
        <th>First-Name</th>
        <th>Last-Name</th>
        <th>Email</th>
        <th>Telephone-Number</th>
        <th>City</th>
        <th>Street</th>
        <th>Streetnumber</th>
        <th>Room</th>
        {% for instance in object_list %}
            <tr>
                <td>{{ instance.username }} </td>
                <td>{{ instance.first_name }}</td>
                <td>{{ instance.last_name }}</td>
                <td>{{ instance.email }}</td>
                <td>{{ instance.tel }}</td>
                <td>{{ instance.location_id.city }}</td>
                <td>{{ instance.location_id.street }}</td>
                <td>{{ instance.location_id.streetnumber }}</td>
                <td>{{ instance.location_id.room }}</td>
            </tr>
        {% endfor %}

    </table>
    {% endif %}
{% endblock %}
