

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BuyNFind</title>

    <!-- Required meta tags -->
    <script src="https://kit.fontawesome.com/2daa826f8f.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

    <!-- Navigationsbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                BuyNFind
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapseLinks" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapseLinks">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/orders/create" class="nav-link">New Order</a>
                    </li>
                    <li class="nav-item">
                        <a href="/inventory/changeState" class="nav-link">Inventory</a>
                    </li>
                    <li class="nav-item">
                        <a href="/cart" class="nav-link">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a href="/help" class="nav-link">Help</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">

                    {% if request.user.is_authenticated %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome,
                            {{ request.user }}
                            <b class="caret"></b>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/accounts/profile/">
                                <i class="fas fa-user"></i>
                                Profile
                            </a>

                            {% if request.user.is_secretary %}
                            <a class="dropdown-item" href="/orders/toInventory">
                                <i class="fas fa-tools"></i>
                                Management
                            </a>
                            {% endif %}

                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item" href="/logout">
                                <i class="fas fa-toggle-right fa-sign-in-alt"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                    {% else %}

                    <li class="nav-item">
                        <a href="/auth/login" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/users/create" class="nav-link">Register</a>
                    </li>

                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

     <!-- Suchfeld -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-secondary" role="alert" style="min-height: 800px">
                    <form class="form-inline ml-auto">
                        <input id="myInput" class="form-control mr-sm-2 col-12 col-sm-12 col-md-6 col-lg-4 ml-auto" type="text" placeholder="Find your article" aria-label="Search">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>

             {% block content %}

             {% endblock %}
                </div>
            </div>
        </div>
    </div>

     <!-- Footer -->
    <footer class="page-footer font-small-dark">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-">© 2020 Copyright:
            <a href="http://www.it-designers-gruppe.de/karriere/"> IT-Designers</a>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
        </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
