{% extends "base.html" %}

{% block content %}
    {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static './style/style.css' %}">
        <!-- Introduction Inventory -->
<section class="section-padding">
    <div class="container-fluid">
        <div class="container">
            <h1 class="title">BuyNFind</h1>
            <p class="lead">
                With this platform you can easily BuyNFind article of the company.
                You can have a look where a certain article is and if you can't find it you can make a new order.
            </p>
            <br>
            <div class="row">
                <div class="col col-12 col-sm-6 col-lg-4">
                    <div class="box bg-faded mat-shadow">
                        <i class="fas fa-5x fa-book"></i>
                        <h1 class="title">Books</h1>
                        <p class="lead">Here you can find all article in the category "Books".</p>
                        <a href="/inventory/Books/" class="btn btn-outline-secondary">View more</a>
                        <p></p>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-lg-4">
                    <div class="box bg-faded mat-shadow">
                        <i class="fas fa-5x fa-desktop"></i>
                        <h1 class="title">Computer</h1>
                        <p class="lead">Here you can find all article in the category "Computer".</p>
                        <a href="/inventory/Computer/" class="btn btn-outline-secondary">View more</a>
                        <p></p>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-lg-4">
                    <div class="box bg-faded mat-shadow">
                        <i class="fas fa-5x fa-laptop-code"></i>
                        <h1 class="title">Devices</h1>
                        <p class="lead">Here you can find all article in the category "Devices".</p>
                        <a href="/inventory/Devices/" class="btn btn-outline-secondary">View more</a>
                        <p></p>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-lg-4">
                    <div class="box bg-faded mat-shadow">
                        <i class="fas fa-5x fa-plug"></i>
                        <h1 class="title">Electronics</h1>
                        <p class="lead">Here you can find all article in the category "Electronics".</p>
                        <a href="/inventory/Electronics/" class="btn btn-outline-secondary">View more</a>
                        <p></p>

                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-lg-4">
                    <div class="box bg-faded mat-shadow">
                        <i class="fas fa-5x fa-chair"></i>
                        <h1 class="title">Furniture</h1>
                        <p class="lead">Here you can find all article in the category "Furniture".</p>
                        <a href="/inventory/Furniture/" class="btn btn-outline-secondary">View more</a>
                        <p></p>

                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-lg-4">
                    <div class="box bg-faded mat-shadow">
                        <i class="fas fa-5x fa-pencil-ruler"></i>
                        <h1 class="title">Office</h1>
                        <p class="lead">Here you can find all article in the category "Office".</p>
                        <a href="/inventory/Office/" class="btn btn-outline-secondary">View more</a>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}