<!-- templates/registration/login.html -->

{% extends "base.html" %}

{% block content %}

<form method="post">
    {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>

{% endblock %}