
/* box home */
.box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    margin-top: 10px;
    transition: all .3s ease;
}

.box.title {
    padding-bottom: 10px;
    border-bottom: 1px darkblue;
    font-size: 2rem;
}
.box:hover {
    -webkit-box-shadow: darkblue;
    -moz-box-shadow: darkblue;
    box-shadow: darkblue;
    margin-top: 5px;
    margin-bottom: 5px;
}









