<!-- templates/registration/login.html -->

<div class="container">
    <div class="col-sm-6">
        <div class="panel-heading"> Login</div>
        <div class="panel-body">

        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Login</button>
        </form>
  </div>
    </div>
</div>