{% extends "base.html" %}

{% block content %}

    <br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">My Profile</h4>
            <div class="card-text">
                <p><strong>Username:</strong> {{ queryset.username }}</p>
                <p><strong>First-Name:</strong> {{ queryset.first_name }}</p>
                <p><strong>Last-Name:</strong> {{ queryset.last_name }}</p>
                <p><strong>Email: </strong>{{ queryset.email }}</p>
                <p><strong>City: </strong>{{ queryset.location_id.city }}</p>
                <p><strong>Street: </strong>{{ queryset.location_id.street }}</p>
                <p><strong>Streetnumber: </strong>{{ queryset.location_id.streetnumber }}</p>
                <p><strong>Room: </strong>{{ queryset.location_id.room }}</p>
                <p><a href="/cart/" class="btn btn-outline-secondary stretched-link">See my cart</a></p>
            </div>
        </div>
    </div>

{% endblock %}
