{% extends "base.html" %}

{% block content %}
    <form method='POST' xmlns="http://www.w3.org/1999/html"> {% csrf_token %}

        <div class="container bg-faded section-padding">
            <h1 class="title">Buy article</h1>
        </div>

        <div class="form-group col-12 col-sm-6">
            {{ article_form.as_p}}
            {{ categoryDropdown_form.as_p }}
            {{ url_form.as_p }}
            {{ order_form.as_p }}
            <input type="submit" class="btn btn-outline-success">
        </div>

    </form>
{% endblock %}
