{% extends "base.html" %}

{% block content %}
    <h1> This is the Detail-View of Orders </h1>

    <p> ID: {{ object.id }} </p>
    <p> AMOUNT: {{ object.amount }}</p>
    <p> DELIVERY-DATE: {{ object.delivery_date }} </p>
    <p> CREATION-DATE: {{ object.creation_date }}</p>
    <p> OWNER: {{ object.owner_id.username }}</p>
    <p> STATE: {{ object.state_id.state }} </p>
    <p> ARTICLE: {{ object.url_id.article_id.name }} </p>
    <p> CATEGORY: {{ object.url_id.article_id.category_id.name }} </p>
    <p> SHOP: {{ object.url_id.shop }}</p>
    <p> URL: {{ object.url_id.url }}</p>
    <br>
{% endblock %}
