

{% extends "base.html" %}
{% load static %}
 <link rel="stylesheet" type="text/css" href="{% static '/style/style.css' %}">
{% block content %}
    <br>
    <h1 class="title">Managment</h1>
    <p>Here you can find all articles which every useres have ordered.</p>

{% if object_list.count == 0 %}

    <h3>There is no Order-Entry right now.</h3>
    <a class="btn btn-primary" href="/orders/create" role="button">Create Order</a>

{% else %}


    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>

                            <th>Article</th>
                            <th>Owner</th>
                            <th>State</th>
                            <th>Delivery-Date</th>
                            <th>Creation-Date</th>
                            <th>Amount</th>
                            <th>Category</th>
                            <th>Shop</th>
                            <th style="width:10%">Url</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody id="myTable">

                        {% for instance in object_list %}
                            <tr >
                                <td> {{ instance.url_id.article_id.name }} </td>
                                <td> {{ instance.owner_id.username }}</td>
                                <td> {{ instance.state_id.state }} </td>
                                <td> {{ instance.delivery_date }} </td>
                                <td> {{ instance.creation_date }}</td>
                                <td> {{ instance.amount }}</td>
                                <td> {{ instance.url_id.article_id.category_id.name }} </td>
                                <td> {{ instance.url_id.shop }}</td>
                                <td style="width:10%"> {{ instance.url_id.url }}</td>
                                <td>
                                {% if instance.state_id_id == 1 %}
                                        <form method="post"> {% csrf_token %}
                                             <input type="text" name = "product_id" value="{{ instance.id }}" style="display: none" />
                                             <input type="submit" class="btn btn-outline-success" value="Move to Inventory" />
                                        </form>
                                 {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}
