{% extends "base.html" %}

{% block content %}
    <form action="." method="POST"> {% csrf_token %}
        <h1>Do you really want to move the Order: "{{ object.url_id.article_id.name }}" to the Inventory?</h1>
        <p><input type="submit" value="Yes"/> <a href="../">Cancel</a></p>
    </form>
{% endblock %}
