{% extends "base.html" %}

{% block content %}

    <script>
        function refresh(that){
            console.log(that.parentNode.parentNode);
            that.parentNode.parentNode.submit();
        }
    </script>
    <br>
    <h1 class="title">Inventory</h1>
    <p>Here you can find all articles.</p>

    {% if object_list.count == 0 %}
        <h3>There is no Order-Entry right now.</h3>
        <a class="btn btn-primary" href="/inventory/create" role="button">Create Order</a>

    {% else %}<div class="container">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-sm table-hover table-striped" >
                    <tr>
                        <th>Article</th>
                        <th>User</th>
                        <th>State</th>
                        <th>Category</th>
                        <th>Location</th>
                        <th>Amount</th>
                        <th>Shop</th>
                        <th>Url</th>
                        <th>Description</th>
                        <th></th>
                    </tr>

                 {% for instance in object_list %}
                    <tr>
                        <td> {{ instance.article_id.name }}</td>
                        <td> {{ instance.user }}</td>
                        <td> {{ instance.state_id.state }} </td>
                        <td> {{ instance.article_id.category_id.name }}</td>
                        <td> {{ instance.location }}</td>
                        <td> {{ instance.amount }}</td>
                        <td> {{ instance.url_id.shop }} </td>
                        <td> {{ instance.url_id.url }} </td>
                        <td> {{ instance.description }} </td>

                        <td>
                            <form method="post"> {% csrf_token %}
                                 <input type="text" name = "product_id" value="{{ instance.id }}" style="display: none"></input>
                                 {{ form.as_p }}
                                 <!--<input type="submit" value="Submit" />-->
                            </form>
                        </td>
                    </tr>
        {% endfor %}
                </table>
          </div>
        </div>
    {% endif %}
     </div>
{% endblock %}
