{% extends "base.html" %}

{% block content %}
    <script>
        function refresh(that){
            console.log(that.parentNode.parentNode);
            that.parentNode.parentNode.submit();
        }
    </script>

    <br>
    <div class="container">
        <h2>Inventory</h2>
        <p> Here you can find all article of the Company.</p>

{% if object_list.count == 0 %}
        <h3>There is no Inventory-Entry right now.</h3>
        <a class="btn btn-primary" href="/inventory/create" role="button">Create Inventory-Entry</a>

{% else %}
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Article</th>
                            <th>Amount</th>
                            <th>State</th>
                            <th>User</th>
                            <th>Location</th>
                            <th>Url</th>
                            <th>Shop</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>

                    {% for instance in object_list %}
                        <tr>
                            <td> {{ instance.article_id.name }}</td>
                            <td> {{ instance.amount }}</td>
                            <td> {{ instance.state_id.state }} </td>
                            <td> {{ instance.user }}</td>
                            <td> {{ instance.location }}</td>
                            <td> {{ instance.url_id.url }} </td>
                            <td> {{ instance.url_id.shop }} </td>
                            <td> {{ instance.description }} </td>
                            <!--
                            <td>

                                <form method="post"> {% csrf_token %}
                                    <input type="text" name = "product_id" value="{{ instance.id }}" style="display: none" />
                                    {{ form.as_p }}
                                    <input type="submit" value="Submit" />
                                </form>
                            </td>
                            -->
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
{% endif %}
    </div>
{% endblock %}

<!--
    look into inventory_category_home. If that not works, may copy that here.
-->
