{% extends "base.html" %}

{% block content %}
    <br>
    <h1 class="title">Inventory </h1>
    <p> Here you can find all articles with the category you choosed.</p>

{% if object_list.count == 0 %}
        <h3>There is no Inventory-Entry right now.</h3>

{% else %}
    <table border="1">

    <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover table-striped" >
                <th>Article</th>
                <th>User</th>
                <th>State</th>
                <th>Category</th>
                <th>Location</th>
                <th>Amount</th>
                <th>Shop</th>
                <th>Url</th>
                <th>Description</th>

            {% for instance in object_list %}
                <tr>
                    <td> {{ instance.article_id.name }}</td>
                    <td> {{ instance.user }}</td>
                    <td> {{ instance.state_id.state }} </td>
                    <td> {{ instance.article_id.category_id.name }}</td>
                    <td> {{ instance.location }}</td>
                    <td> {{ instance.amount }}</td>
                    <td> {{ instance.url_id.shop }} </td>
                    <td> {{ instance.url_id.url }} </td>
                    <td> {{ instance.description }} </td>
               </tr>
        {% endfor %}
        </table>
       </div>
    </div>

{% endif %}
</div>
{% endblock %}
