{% extends "base.html" %}

{% block content %}
    <h1> This is the Detail-View of Inventory </h1>

    <p> ID: {{ object.id }} </p>
    <p> AMOUNT: {{ object.amount }}</p>
    <p> DESCRIPTION: {{ object.description }}</p>
    <p> ARTICLE: {{ object.article_id.name }} </p>
    <p> CATEGORY: {{ object.article_id.category_id.name }} </p>
    <p> STATE: {{ object.state_id.state }} </p>
    <p> SHOP: {{ object.url_id.shop }}</p>
    <p> URL: {{ object.url_id.url }}</p>
    <p> USER: {{ object.user }}</p>
    <p> LOCATION: {{ object.location }}</p>
    <br>
{% endblock %}
