{% extends "base.html" %}

{% block content %}
    <form method='POST'> {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>

    <table border="1">
    <th>ID</th>
    <th>Amount</th>
    <th>Description</th>
    <th>Article</th>
    <th>Category</th>
    <th>State</th>
    <th>Shop</th>
    <th>URL</th>
    <th>Order</th>
    {% for obj in queryset %}
    <tr>
        <td> {{ obj.id }}</td>
        <td> {{ obj.amount }}</td>
        <td> {{ obj.description }}</td>
        <td> {{ obj.article_id.name }}</td>
        <td> {{ obj.article_id.category_id.name }}</td>
        <td> {{ obj.state_id.state }}</td>
        <td> {{ obj.url_id.shop }}</td>
        <td> {{ obj.url_id.url }}</td>
        <td> {{ obj.order_id }}</td>
    </tr>

        {% empty %}
            <p> Nothing Found! </p>
    {% endfor %}

    </table>
{% endblock %}