{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">

    <br>
    <h1 class="title">Cart</h1>
    <p> Here you can find all articles which you have ordered.</p>

    {% if queryset.count == 0 %}

    <h3>There's no Order right now.</h3>
    <br>
    <h3> Do you want to create one?</h3>
    <a class="btn btn-primary" href="../orders/create" role="button">Create Order</a>


    {% else %}


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-hover, table-striped" >
                    <thead>
                        <tr>
                            <th>Article</th>
                            <th>Delivery-Date</th>
                            <th>Owner</th>
                            <th>State</th>
                            <th>Category</th>
                            <th>Amount</th>
                            <th>Creation-Date</th>
                            <th>Shop</th>
                            <th>Url</th>
                        </tr>
                    </thead>

                     <tbody>
                    {% for instance in queryset %}
                        <tr>
                            <td> {{ instance.url_id.article_id.name }} </td>
                            <td> {{ instance.delivery_date }} </td>
                            <td> {{ instance.owner_id.username }}</td>
                            <td> {{ instance.state_id.state }} </td>
                            <td> {{ instance.url_id.article_id.category_id.name }} </td>
                            <td> {{ instance.amount }}</td>
                            <td> {{ instance.creation_date }}</td>
                            <td> {{ instance.url_id.shop }}</td>
                            <td> {{ instance.url_id.url }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% endif %}

    </div>

{% endblock %}